<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>MyTeam</title>
    <link
      rel='stylesheet'
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
      integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
      crossorigin='anonymous'
    />
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>
    <header class='display-flex justify-space-between align-center p-2'>
      <h1 class='text-info justify-content-center'>
        <div class='justify-content-center'>MyTeam</div>
      </h1>
    </header>
    <ul class='nav navbar-dark bg-dark justify-content-around'>
      <li class='nav-item'>
        <a class='navbar-brand' aria-current='page' href='/'>Home</a>
      </li>
      <li class='nav-item'>
        <a
          class='navbar-brand'
          href='/user/{{home_user.username}}'
        >{{home_user.username}}</a>
      </li>
      {{#if is_admin}}
        <li class='nav-item'>
          <a class='navbar-brand' href='/admin'>Admin Dashboard</a>
        </li>
      {{/if}}
      <li class='nav-item'>
        <button class='nav-link' id='logout'>Logout</button>
      </li>
    </ul>
    <div class='flex-column justify-space-around'>

      <main class='container container-fluid mt-5'>
        {{{body}}}
      </main>
      <footer>
      </footer>
    </div>

    <script src='/js/logout.js'></script>
  </body>

</html>