<h1 class='capitalize'>Welcome
  {{home_user.first_name}}
  {{home_user.last_name}}</h1>
<h2>Please select which you would like to edit:</h2>
<a href='/users'><button
    type='button'
    class='btn btn-primary btn-lg'
  >Users</button></a>
<a href='/teams'><button
    type='button'
    class='btn btn-primary btn-lg'
  >Teams</button></a>