<h1>Upcoming events for the {{team}}</h1>
{{#each events as |event|}}
  <div>
    <h4>{{format_date event.event_date}}</h4>
    <div>
      <p>{{format_time event.event_date}}: {{event.event_name}}</p>
    </div>
  </div>
{{/each}}