<h1>Admin View:</h1>
<button class='btn btn-lrg btn-success'>
  <a href='/newteam'>Create new Team +</a></button>
<br /><br />
{{#each teams as |team|}}
  <a href='/team/{{team.id}}'>
    <div class='card-container'>
      <div class='card' style='width: 18rem'>
        <div class='card-header'>Name: {{team.team_name}}</div>
      </div>
    </div>
  </a>
{{/each}}