<h1>Admin View:</h1>
<button class='btn btn-primary btn-lg'>
  <a href='/newteam'>Create new Team +</a></button>
<br /><br />
{{#each teams as |team|}}
  <br />
  <a href='/team/{{team.id}}'><button
      type='button'
      class='btn btn-primary btn-lg'
    >Name: {{team.team_name}}</button></a>
{{/each}}